html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}
.react-flow .react-flow__node {
  height: 40px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: 2px;
  font-weight: 700;
}

.react-flow__node-textUpdater {
  font-size: 12px;
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  text-align: center;
}

.wrapper {
  flex-grow: 1;
  height: 100%;
}
